<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>ManageInformation</title>
    <link rel="stylesheet" href="/views/static/css/styles.css">
    <link rel="stylesheet" href="/views/static/css/information.css">
    <script src="/views/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function (){
            //给删除电影的超链接绑定单击事件
            $("#deleteMovie").click(function (){
                //弹窗选择是否删除
                return confirm("确定要删除这部电影吗？")
            })
        })
    </script>
</head>
<body>
<!-- 头部区域 -->
<header>
    <!--    <div><img  id="name" src="#" alt="你的名字" width="100%"> </div>-->

    <div class="header-container">
        <div class="logo">
            <img src="logo.png" alt="网站标志">
        </div>
        <nav>
            <ul>
                <li><a href="/ManageGetMovieByLimit">电影管理</a></li>
                <li><a href="/ManageGetCinemaByLimit">影院管理</a></li>
                <li><a href="#">新闻</a></li>
                <li><a href="#">活动</a></li>

            </ul>
        </nav>
    </div>
</header>
<form action="/UpdateMovie">
<main>
    <div class="header">
        <div class="header-content">
            <h1 class="header-title">图片</h1>
        </div>
    </div>
    {{range .Single}}
    <div class="movie-container">
        <div class="movie-header">
<!--            <img src="{{.ImgPath}}" alt="{{.Id}}" class="movie-poster">-->
            <input type="hidden" value="{{.Id}}" name="movie_Id">
            <input type="text" value="{{.ImgPath}}" name="imgpath">
            <div class="movie-info">
                <input class="movie-title" value="{{.Name}}" name="Name" type="text"/>
                <input class="movie-subtitle0" value="{{.NickName}}" name="NickName" type="text"><br><br>
                <input class="movie-subtitle" value="{{.Type}}" name="Type" type="text"><br>
                <input class="movie-subtitle" value="{{.Area}}" name="Area" type="text">/
                <input class="movie-subtitle" value="{{.Times}}" name="Times" type="text">分钟<br>
                <input class="movie-subtitle" value="{{.Year}}" name="Year" type="text">/中国大陆上映<br>
                <label>类别： <input type="radio" value="now" name="status" checked> 正在热映
                    <input type="radio" value="upcoming" name="status"> 即将上映电影 </label><br>
                评分：<input class="movie-subtitle" value="{{.Score}}" name="Score" type="text">
                <br>
                <br>

                <div class="btn-container">
                    <a href="DeleteMovie?movie_id={{.Id}}" class="btn btn-score" id="deleteMovie">删除该电影信息</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <h2 class="content-title" id="Introduce">剧情介绍</h2>
                <label>
                    <textarea cols="100" rows="8" name="Introduce">{{.Introduce}}</textarea>
                </label>
            </div>
            <div class="content-item">
                <h2 class="content-title" id="Starring">主演</h2>
                <label>
                    <textarea cols="50" rows="3" name="Starring">{{.Starring}}</textarea>
                </label>
            </div>
            <div class="content-item">
                <h2 class="content-title">获奖情况</h2>
                奖项：
                <input class="content-text" value="{{.Award}}" name="Award" type="text">

            </div>
            <div class="content-item">
                <h2 class="content-title">票房</h2>
                票房总额：
                <input class="content-text" value="{{.Grossed}}" name="Grossed" type="text">元
            </div>
            <div class="content-item">
                <h2 class="content-title">基本电影信息</h2>
                <p class="content-text">
                    类型：{{.Type}}<br>
                    上映日期：{{.Year}}<br>
                    片长：{{.Times}}分钟
                </p>
            </div>
        </div>
        {{end}}
        <div class="btn-container">
            <input type="submit" class="btn btn-submit" value="提交更改">
        </div>
    </div>
</main>
</form>
<!-- 底部区域 -->
<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="#">关于我们</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="social-icons">
            <a href="#"><img src="/views/static/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/views/static/img/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="/views/static/img/instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>
</body>
</html>
